<%= render CenterContent::Component.new(width: 8) do %>
  <h1 class="text-center">
    <%= t("shared.titles.edit", model: t("activerecord.models.student")) %>
  </h1>

  <%= render Form::Component.new(resource: student,
                                  form_fields: [ { input: :name } ,{ input: :identifier }, { association: :school_class }],
                                  url: student_path(id: student.id)) %>
<% end %>
