<div class="d-flex aligns-items-center justify-content-center">
  <div class="col-lg-8 p-3 mt-4">
    <h1 class="text-center">
      <%= t("shared.titles.edit", model: t("activerecord.models.student")) %>
    </h1>

    <%= render Form::Component.new(resource: @student,
                                   form_attributes: [{ input: :name }, { input: :identifier }, { select: :school_class_id }],
                                   url: student_path(id: @student.id)) %>
  </div>
</div>

