<hr class="mt-5">
<ul class="nav justify-content-center mb-3 py-1">
  <li class="nav-item"><%= link_to t("footer.home_page"), root_path, class: "nav-link px-2 text-muted" %></li>
  <li class="nav-item"><%= link_to t("footer.about"), root_path, class: "nav-link px-2 text-muted" %></li>
  <li class="nav-item"><%= link_to t("footer.contact"), root_path, class: "nav-link px-2 text-muted" %></li>
</ul>
