<div class="py-5" id="hanging-icons">
  <h2 class="pb-2">Painel</h2>

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Classes</h3>
        <p>
          Nesta seção você pode gerenciar as classes em que ministra aulas, podendo adicionar, editar ou removê-las a qualquer momento.
        </p>
        <%= link_to t("panel.manage_school_classes"), user_school_classes_path(@current_user), class: "btn btn-primary" %>
      </div>

    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Alunos</h3>
        <p>
          Nesta seção você pode gerenciar os alunos pertencentes a cada classe, podendo adicionar, editar ou removê-los do sistema.
        </p>
        <a href="#" class="btn btn-primary">
          <%= t("panel.manage_students") %>
        </a>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fs-2">Provas</h3>
        <p>
          Nesta seção você pode gerenciar as provas que serão aplicadas em cada classe, podendo adicionar, editar ou removê-las quando necessário.
        </p>
        <a href="#" class="btn btn-primary">
          <%= t("panel.manage_tests") %>
        </a>
      </div>
    </div>

  </div>
</div>
