<%= render CenterContent::Component.new(width: 8) do %>
  <h1 class="text-center">
    <%= t("shared.titles.edit", model: t("activerecord.models.student")) %>
  </h1>

  <%= render "form" %>
<% end %>
