<div class="d-flex aligns-items-center justify-content-center">
  <div class="col-lg-8 p-3 mt-4">
    <h1 class="text-center">
      <%= t("shared.titles.new", model: t("activerecord.models.school_class")) %>
    </h1>

    <%= render Form::Component.new(resource: @school_class,
                                   form_fields: { input: "name" },
                                   url: user_school_classes_path(user_id: @current_user.id),
                                   method: :post,
                                   submit_button_text: t("shared.buttons.create"),
                                   back_button_url: user_school_classes_path(user_id: @current_user.id)) %>
  </div>
</div>
