<%= render CenterContent::Component.new(width: 8) do %>
  <h1 class="text-center">
    <%= t("shared.titles.new", model: t("activerecord.models.school_class")) %>
  </h1>

  <%= render Form::Component.new(resource: @school_class,
                                  form_fields: [{ input: :name }],
                                  url: school_classes_path) %>
<% end %>
