<div class="d-flex aligns-items-center justify-content-center">
  <div class="col-lg-8 p-3 mt-4">
    <h1 class="text-center">
      <%= t("shared.titles.edit", model: t("activerecord.models.school_class")) %>
    </h1>

    <%= render Form::Component.new(resource: @school_class,
                                   form_fields: [{ input: :name }],
                                   url: school_class_path(id: @school_class.id),
                                   method: :patch) %>
  </div>
</div>
