<%= render CenterContent::Component.new(width: 8) do %>
  <h1 class="text-center">
    <%= t("shared.titles.edit", model: t("activerecord.models.school_class")) %>
  </h1>

  <%= render SchoolClasses::Form::Component.new(resource: school_class) %>
<% end %>
