<div class="d-flex aligns-items-center justify-content-center">
  <div class="col-lg-8 p-3 mt-4">
    <h1 class="text-center">
      <%= t("shared.titles.edit", model: t("activerecord.models.school_class")) %>
    </h1>

    <%= render SchoolClasses::Form::Component.new(school_class: @school_class,
                                                  url: user_school_class_path(user_id: @current_user.id, id: @school_class.id),
                                                  method: :patch,
                                                  submit_button_text: t("shared.buttons.edit"),
                                                  current_user: @current_user) %>
  </div>
</div>
