<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <%= link_to vite_image_tag("images/logo.svg"), root_path, class: "px-2" %>
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4 my-2">Scholare</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link active">Sign Up</a></li>
    </ul>
  </header>
<div>
