<%= render CenterContent::Component.new(width: 8) do %>
  <h1 class="text-center">
    <%= t("shared.titles.new", model: t("activerecord.models.question")) %>
  </h1>

  <%= render Questions::Form::Component.new(resource: question, tests:, url: test_questions_path(test_id: params[:test_id]), method: :post) %>
<% end %>
