<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <%= link_to vite_image_tag("images/logo.svg"), root_path, class: "px-2" %>

    <%= link_to root_path, class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do %>
      <span class="fs-4 my-2">Scholare</span>
    <% end %>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to t("nav.sign_in"), root_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to t("nav.sign_up"), root_path, class: "nav-link active" %>
      </li>
    </ul>
  </header>
<div>
