<div class="d-flex aligns-items-center justify-content-center">
  <div class="col-lg-8 p-3 mt-4">
    <h1 class="text-center">Cadastrar Turma</h1>
    <%= render "form", url: user_school_classes_path(user_id: current_user.id), method: :post %>
    <%= link_to "Back to school classes", user_school_classes_path(current_user), class: "text-decoration-none" %>
  </div>
</div>
